ion-img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 500px; /* Establece una altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen para cubrir el área del contenedor */
  }
  